version: 2

jobs:
  build:
    machine:
      image: ubuntu-2204:edge
    steps:
      - checkout
      - run:
          name: Build Docker image for running node tests
          command: docker build -t plaid-node .
      - run:
          name: Run node tests in Docker
          command: docker run --rm -e CLIENT_ID=$CLIENT_ID -e SECRET=$SECRET plaid-node
